body {
    font-family: 'DubaiW23-Regular', "Droid Arabic Kufi", "Open Sans", Arial, sans-serif;
    font-size: 16px;
    margin-left: 20%;
    margin-right: 20%;
    min-width: 320px;
}

header {
    margin-top: 35px;
    height: 48px;
    position: relative;
}

.logo {
    float: left;
    width: 80px;
    clear: left;
    color: grey;
}

.navigation {
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.username {
    float: right;
    width: 150px;
    clear: right;
    text-align: right;
    color: #007cc2;
}

header#pageheader {

    /*overflow: auto;
    width: 100%;
    height: 91px;
    font-size: 16px;
    text-transform: uppercase;*/
}

#logo {
    margin: 0 5px 0 0;
    clear: left;
    float: left;
    height: 25px;
}

#hdrtitle {
    font-size: 1.4em;
    font-weight: bold;
}

section#main {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    min-height: 500px;
}

h1 {
    color: #007cc2;
    padding-top: 1em;
    padding-bottom: 1em;
}

/*----------------------------------------------------
Nav bar
-----------------------------------------------------*/
nav.sitenav ul {
    list-style: none;
}

nav.sitenav li {
    display: inline-block;
    color: grey;
    padding: 0 30px;
    text-align: center;
}

nav.sitenav ul li a:link, a:focus, a:active, a:visited {
    text-decoration: none;
    color: grey;
    border-bottom: thin solid transparent;
}

nav.sitenav ul li a:hover {
    color: grey;
    border-bottom: 2px solid grey;
}

.button {
    background-color: orangered;
    color: white;
}

footer {
    margin: 1em 0 0 0;
    font-size: 11px;
}

.error {
    list-style-type: none;
    color: #a94442; /* reddish */
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-style: italic;
}

.cc_show {
    font-size: 0.8em;
    padding-bottom: 20px;
    margin: 20px 0;
    border-top: 1px solid grey;
}
.cc_show h2 {
    font-size: 1.5em;
    margin: 4px 0 4px 0;
    font-style: italic;
    text-align: left;
    color: grey;
    font-weight: bold;
}

.cc_show p {
    padding: 1px 0 1px 0;
}
.phone_num {
    color:orangered;
}

.phone_num:before {
    font-weight: bold;
    /*Todo: look into why this is not working */
    /*background-image: url('/public/images/phone.png');
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 30px;*/
}

.details {
    font-size: 1.1rem;
    font-style: italic;
}

.flashAlert {
    background-color: orangered;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.actions_icon {
    width: 25px;
    height: 25px;
}

.alert {
    margin-top: 10px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

ul.alert {
    list-style-type:none;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    text-align: center;
}


input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}